alembic==1.14.1
Flask==3.1.0
Flask_Cors==3.0.10
Flask_Migrate==3.1.0
flask_sqlalchemy==3.1.1
langchain==0.3.15
langchain_core==0.3.31
langchain_openai==0.3.2
pandas==1.4.3
python-dotenv==1.0.1
SQLAlchemy==2.0.21
